::-moz-selection { background: #00A200; }
::selection { background: #00A200; }


body {
  margin: 0;
}


.profile-border {
  border : 2px solid #060;
  border-top: none;
  height : auto;
  padding : 20px;
  margin : 0 auto;
  width : 80%;
  font-family: 'Open Sans', sans-serif;
}

.head {
  height : auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
  /*width : 95%;*/
}

.head img {
  width : 230px;
  float : left;
  border: 4px solid #ddd;
  margin:20px;
}

.head .bio {
  position: relative;
  height : auto;
  width : 60%;
  /* padding-top: 20px; */
  left: 20px;
  /*margin : auto;*/
}

.head .bio #description {
  line-height: 30px;
}

img, .bio, .social {
  display : inline-block;
}

.social {
  width : 10%;
  height: auto;
  float : right;
  margin-right : 2em;
}

.social ul {
  list-style-type: none;
}

.social ul li {
  padding : 10px;
  text-align : center;
}

.social ul li a {
  text-decoration: inherit;
  color : inherit;
}

.social #freecodecamp {
  color : #006400;
}

.progress, .skills {
  width : 90%;
  margin : auto;
  margin-top : 2em;
  padding : 2% 3%;
  border : 1px solid #009900;
}

.progress .date {
  background-color : #009900;
  color : white;
  padding : 10px;
  font-family : Helvetica;
}

.progress p {
  margin : 5%;
}

.skills {
  height : auto;
  border : none;
  /*padding : 0;*/
}

.comfortable, .learning {
  width : 40%;
  height : 200px;
  border : 2px solid #DDD;
  border-left : 15px solid #008800;
  display : inline-block;
  margin-left : 6%;
}

// .vertical-green {
//   width : 20px;
//   height : 250px;
//   background-color : #008800;
//   float : left;
// }

.info {
  width : 80%;
  /*background-color: red;*/
  float : right;
}

@media (max-width : 1060px) {
  .comfortable, .learning {
    width : 80%;
  }
  .head {
    width : 75%;
    margin:auto;
  }
  .head .bio {
    width : 85%;
    margin: auto;
  }

  .head img {
    width: 140px;
  }

  .social {
    /*margin-left : 40px;*/
    float : none;
    display : inline;
  }
  .social ul {
    margin : 0;
    padding : 0;
  }
  .social ul li{
    display : inline-block;
  }
}
