@import "./base.css";
@import "./header.css";

.section {
  padding: 30px 10px;
}

.section__container {
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;
}

.section__title {
  display: inline-block;
  position: relative;
  padding: 0;
  border-bottom: 3px solid green;
  margin-left: auto;
  margin-right: auto;
}

.section__description {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  color: #444;
}

.section--greyBg {
  background: #eee;
}

@media (max-width: 480px) {
  .section {
    padding: 20px;
  }

  .section__description {
    text-align: center;
    font-size: 1rem;
  }
}
